{% extends 'base.html' %}
{% load static %}
{% block title %}Manage Reports{% endblock %}
{% block content %}
<div class="row">
    {% for report in reports %}
        <div class="col-md-4">
            <div class="card-body">
                <h5 class="card-title">{{ report.created_at }}</h5>
                <p class="card-text">{{ report.author }}</p>
                <p class="card-text">{{ report.construction }}</p>
                <p class="card-text">{{ report.operational_activity }}</p>
                <a href="{% url 'report_management:report_detail' report.id %}" class="btn btn-primary">View Details</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}