{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
    {% if user.is_authenticated %}
        <h1>Witaj, {{ user.first_name }}!</h1>
        {% if user.is_staff %}
            <div>
                <a href="{% url 'user:admin_dashboard' %}" class="btn btn-primary">Panel Administratora</a>
            </div>
        {% else %}
            <div>
                <a href="{% url 'user:user_dashboard' %}" class="btn btn-primary">Moduł Użytkownika</a>
            </div>
        {% endif %}
    {% else %}
        <h1>Witaj w aplikacji zarządzania budową</h1>
        <p><a href="{% url 'user:login' %}">Zaloguj się</a> lub <a href="{% url 'user:register' %}">Zarejestruj</a></p>
    {% endif %}
</div>
{% endblock %}
