{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <h2>Login</h2>
    <form method="post" action="{% url 'user-login:login' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            <label for="id_username">Email:</label>
            {{ form.username }}
        </div>
        <div class="form-group">
            <label for="id_password">Password:</label>
            {{ form.password }}
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}
